__pycache__/
*.py[cod]
.venv/
env/
logs
venv/
.DS_Store
*.logs
*.log
checkpoints/
lightning_logs/
.vscode/
.env
preprocessing
*.csv
../.DS_Store
data/HNRNPC/*.tsv
data/HNRNPC/*eclip.txt
data/HNRNPC/*label.pkl
data/HNRNPC/*split.pkl
data/SRSF9/*.tsv
data/SRSF9/*eclip.txt
data/SRSF9/*label.pkl
data/SRSF9/*split.pkl
data/TIA1/*.tsv
data/TIA1/*eclip.txt
data/TIA1/*label.pkl
data/TIA1/*split.pkl
data/TRA2A/*.tsv
data/TRA2A/*eclip.txt
data/TRA2A/*label.pkl
data/TRA2A/*split.pkl
data/PCBP1/*.tsv
data/PCBP1/*eclip.txt
data/PCBP1/*label.pkl
data/PCBP1/*split.pkl
PrismNet/data/clip_data*
PrismNet/data/PrismNet
figs
interpret_outputs
interpret_plots
